$default-length: 45rem;
$default-width: 1.5rem;

.scaled-timeline-container {
  &.vertical {
    height: $default-length;
    width: $default-width;

    &.inline {
      width: unset;
    }
  }

  &.horizontal {
    height: $default-width;
    width: $default-length;

    &.inline {
      height: unset;
    }
  }

  .scaled-timeline {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    
    .scaled-timeline-entry {
      position: absolute;
      
      .scaled-timeline-entry-details-anchor {
        position: relative;
        height: 100%;
        width: 100%;
        background: inherit;
        border-radius: inherit;
        
        .scaled-timeline-entry-details {
          position: absolute;
          background: inherit;

          &.inline {
            position: relative;
          }

          .scaled-timeline-default-entry-card {
            margin: 1rem;
            white-space: nowrap;
          }
        }
      }
    }
  } 
}